<link rel="stylesheet" href="/stylesheets/participantList.css">
{{#each events}}
<div class="container">
    <div class="row">
        <div class="col s12 card crdtop">
            <div class="card-content">
                <span class="card-title fltlft" data-id="{{_id}}">Event Name: {{event.name}}</span>
                <span class="card-title fltrgt">Current Round: {{event.currentRound}}</span>
            </div>
            <div class="card-content">
                <table class="bordered record-table">
                    <tbody>
                    {{#each event.participants }}
                        <tr class="click-row" data-id="{{@index}}">
                            <td class="valign-wrapper">
                                <input type="checkbox" class="myCheckbox filled-in"/>
                                <label for="myCheckbox"></label>
                            </td>
                            <td>{{name}}</td>
                            <td>{{phone}}</td>
                            <td>{{status}}</td>
                            <td>{{round}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                    <thead>
                    <tr>
                        <th>Select</th>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Status</th>
                        <th>Round</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="card-content">
                <div>
                    <a class="waves-effect waves-light btn" id="btn-submit1">Submit</a>
                    &nbsp;&nbsp;&nbsp;<span id="num-participants">0</span> Participants Selected
                </div>
            </div>
        </div>
    </div>
    <div id="modal" class="modal">
        <div class="modal-content">
            <div class="row padzero">
                <div class="col s4 offset-s2 input-field">
                    <input type="text" name="date" class="datepicker" id="date" class="validate" required>
                    <label for="date">Date:</label>
                </div>

                <div class="col s4 input-field">
                    <input type="text" name="time" class="timepicker" id="time" class="validate" required>
                    <label for="time">Time:</label>
                </div>
            </div>
            <div class="row padzero">
                <div class="col s8 offset-s2 input-field">
                    <input type="text" name="venue" id="venueInput" class="validate" data-length="16" required>
                    <label for="venueInput">Venue:</label>
                </div>
            </div>
            <div class="col s8 offset-s2">
                <div id="errMsg"></div>
            </div>
        </div>
        <form method="post" action="/promote" hidden id="submitForm">
            <input type="hidden" name="idList" id="idList">
            <input type="hidden" name="dateTime" id="dateTime">
            <input type="hidden" name="venue" id="venue">
        </form>
        <div class="modal-footer">
            <a href="#!" class="modal-action waves-effect  btn btn-submit-red" id="btn-submit2">Submit</a>
        </div>
    </div>
</div>
{{/each}}
<script src="/javascripts/participantList.js"></script>